<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>
{% include "header.html" %}
<body>
<form id="form1" name="form1" method="post" action="">
      <label for="emp"></label>
<table width="396" height="164" >
  <tr>
    <td width="189">Select employee:</td>
    <td width="191">
      <label for="emp"></label>
      <select name="emp" id="emp">
      </select>
    </td>
  </tr>
  <tr>
    <td colspan="2">&nbsp;
      <div align="center">
        <input type="submit" name="Assign" id="Assign" value="Submit" />
      </div>
    </td>
  </tr>
</table>
{% include "footer.html" %}
</form>
</body>
</html>
