<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>
{% include "adminheader.html" %}
<body>
<form action="/work_editb/{{ data['workid'] }}" method="post" >
<b><i>Edit Work:</i></b>
<br />
<br/>

    <table width="470" >
  <tr>
    <td width="134">Work</td>
    <td width="320"><label for="work"></label>
      <input type="file" name="work" id="work" value="{{ data['w_work'] }}"/></td>
  </tr>
    <tr>
    <td>Work type :</td>
    <td><label for="worktype"></label>
      <input type="text" name="work_type" id="work_type" size="50" value="{{ data['w_type'] }}"/></td>
  </tr>
  <tr>
    <td height="58" colspan="2"><div align="center">
      <input type="submit" name="update" id="update" value="Update" />
    </div></td>
    </tr>
</table>
    {% include "footer.html" %}
</form>
</body>
</html>
