<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>
{% include "adminheader.html" %}
<body>
<strong>Edit Empolyee : </strong><br />
<br />
<center><form action="/edit_emp_post/{{ i['login_id'] }}" method="post"  name="form1" id="form1" enctype="multipart/form-data" >
  <p>&nbsp;</p>
  <table width="644" height="644" >
    <tr>
      <td width="101" height="43">First Name</td>
      <td width="467">:
        <label for="name"></label>
      <input type="text" name="name" id="name" value="{{ i['first_name'] }}"/></td>
    </tr>
    <tr>
      <td height="47">Last Name</td>
      <td>:
        <label for="lastname"></label>
        <input type="text" name="lastname" id="lastname" value="{{ i['last_name'] }}"/>        <label for="address"></label></td>
    </tr>
    <tr><td height="51">
    Post
    </td>
    <td>:
      <label for="post"></label>
      <input type="text" name="post" id="post" value="{{ i['post'] }}"/></td></tr>
    <tr><td height="45">
    House
    </td>
    <td>:
      <label for="house"></label>
      <input type="text" name="house" id="house" value="{{ i['house'] }}"/></td></tr>
    <tr><td height="45">
    Street
    </td>
    <td>:
      <label for="street"></label>
      <input type="text" name="street" id="street" value="{{ i['street'] }}"/></td></tr>
    <tr>
      <td height="46">
    Place
    </td>
    <td>:
      <label for="place"></label>
      <input type="text" name="place" id="place" value="{{ i['Place'] }}"/></td></tr>
    <tr><td height="46">
    District
    </td>
    <td>:
      <label for="dis"></label>
      <input type="text" name="dis" id="dis" value="{{ i['district'] }}"/></td></tr>
    <tr>
    <td height="42">Pin Code
    </td>
    <td>:
      <label for="pin"></label>
      <input type="text" name="pin" id="pin" value="{{ i['pin_code'] }}"/>
    </td>
    </tr>
    <tr>
      <td height="41">Mob </td>
      <td>:
        <label for="mob"></label>
      <input type="text" name="mob" id="mob" value="{{ i['mob_no'] }}"/></td>
    </tr>
    <tr>
      <td>Gender </td>
      <td><p><label>
        <input type="radio" name="gender" value="M" id="gender_0" {% if i['gender']=="M"  %}checked  {% endif %} />
          Male 
        <br />
        <label>
          <input type="radio" name="gender" value="F" id="gender_1" {% if i['gender']=="F"  %}checked  {% endif %}/>
          Female</label>
           <br />
        <label>
          <input type="radio" name="gender" value="other" id="gender_1" {% if i['gender']=="other"  %}checked  {% endif %}/>
          Other</label>
        <br />
      </td>
    </tr>
    <tr>
      <td>DOB </td>
      <td>:
        <label for="date"></label>
      <input type="date" name="date" id="date" value="{{ i['DOB'] }}"/></td>
    </tr>
    <tr>
      <td>Photo </td>
      <td>:
        <label for="image"></label>
        <label for="image"></label>
      <input type="file" name="image" id="image" value="{{ i['photo'] }}" /></td>
    </tr>
    <tr>
      <td>Email </td>
      <td>:
        <label for="email"></label>
      <input type="text" name="email" id="email" value="{{ i['email'] }}"/></td>
    </tr>

    <tr>
      <td>Department </td>
      <td>:
           <select name="dept">
      {% for k in data %}
            <option value="{{ k['dept_id'] }}" {% if k['dept_id']==i['dept_id'] %} selected="selected" {% endif %} >{{ k['name'] }}</option>
      {% endfor %}
           </select>
      </td>
    </tr>
    <tr align="center">
    <td colspan="2"><input type="submit" name="Update" id="Update" value="Update" /></td>
    </tr>
  </table>
  <p>&nbsp;</p>
{% include "footer.html" %}
</form>
</center>

</body>
</html>
