<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>
{% include "adminheader.html" %}
<body>
<form action="" method="get"><table width="767" height="164" border="1">
  <tr>
    <td width="37">#</td>
    <td width="99">Date</td>
    <td width="215">User Name</td>
    <td width="248">Feed Back</td>
    <td width="134" ></td>
  </tr>

  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td></td><td><p><a href="#">Edit</a></p>
      <p><a href="#">Delete</a></p>
</td>  </tr>
</table>
    {% include "footer.html" %}
</form>
</body>
</html>
