<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>
{% include "adminheader.html" %}
<body>
<form action="" method="get"><table width="723" height="183" border="1">
  <tr>
    <td width="24" height="64"><h3>#</h3></td>
    <td width="295">User Name</td>
    <td width="254">Complaint</td>
    <td width="122">Date</td>
  </tr>
  <tr>
    <td height="111">&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
</table> 
<br />
<br />
  <input type="submit" name="reply" id="reply" value="Reply" />
    {% include "footer.html" %}
</form>
</body>
</html>
