<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>
{% include "adminheader.html" %}
<body>
<b><i>View Complaint</i></b>
:<br />
<br />
<form action="" method="get"><table width="592" border="1">
  <tr>
    <td width="15">#</td>
    <td width="159">User Name</td>
    <td width="286">Complaint</td>
    <td width="104">date</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
</table>
    {% include "footer.html" %}
</form>
<p>&nbsp;</p>
<p><input type="submit" name="replay" id="replay" value="Reply" />
</p>
<p>&nbsp;</p>
</body>
</html>
