<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>
{% include "adminheader.html" %}
<body>
<center>
<form action="/view_feedback" method="post">
    <table width="767" height="164" border="1">
  <tr>
    <td width="37">#</td>
    <td width="99">Date</td>
    <td width="215">User Name</td>
    <td width="248">Feed Back</td>
    <td width="134" ></td>
  </tr>
 {% for i in data %}
      <tr>
    <td>{{ loop.index }}&nbsp;</td>
    <td>&nbsp;{{ i['fdate'] }}</td>
    <td>&nbsp;{{ i['first_name'] }}&nbsp;.{{ i['last_name'] }}
        <br><img src={{ i['photo'] }}  height="40"  width="40"></td>
    <td>{{ i['ftype'] }}</td>
      </tr>

{% endfor %}
</table>
{% include "footer.html" %}
</form>
</center>
</body>
</html>
